<div class='time-date'>
{% for item in items %}
  <div class='time'>
    {{ item.time }}
  </div>
  <div class='date-location'>
    <p class = 'date'>
      {{ item.date }}
    </p>
    <p class='location'>
      {{ item.location }}
    </p>
  </div>
{% endfor %}
</div>